<div class="conta-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="sidebar-title">Minha Conta</h2>
    <nav class="sidebar-nav">
      <button
        class="nav-item"
        [class.active]="sectionAtiva === 'dados'"
        (click)="selecionarSecao('dados')">
        Meus Dados
      </button>

      <button
        class="nav-item"
        [class.active]="sectionAtiva === 'endereco'"
        (click)="selecionarSecao('endereco')">
        Endereço da Empresa
      </button>
      <button
        class="nav-item"
        [class.active]="sectionAtiva === 'dados-empresa'"
        (click)="selecionarSecao('dados-empresa')">
        Dados da Empresa
      </button>

    <button class="nav-item nav-footer" (click)="abrirContato()">
    Contato
  </button>

  <button class="nav-item nav-footer" (click)="abrirTermos()">
    Termos de Uso
  </button>
</nav>
  </aside>

  <!-- Área de conteúdo -->
  <main class="content-area">
    <div id="content-wrapper">
      <ng-container [ngSwitch]="sectionAtiva">
        <app-dados-funcionario *ngSwitchCase="'dados'"></app-dados-funcionario>
        <app-endereco-empresa *ngSwitchCase="'endereco'"></app-endereco-empresa>
        <app-dados-empresa *ngSwitchCase="'dados-empresa'"></app-dados-empresa>
      </ng-container>
    </div>
  </main>
</div>
