<!-- Container Pai (Novo) -->
<div class="login-container">
  
  <!-- Lado Esquerdo (Imagem e Texto) -->
  <div class="login-body" 
       [ngStyle]="{
         'background-color': backgroundColor, 
         'background-image': 'url(' + backgroundImage + ')',
         'background-size': 'cover',
         'background-position': 'center center',
         'background-repeat': 'no-repeat'
       }">    
       
       <img class="img-fluid" src="./assets/images/logo-branco.png" alt="Logo" />
       
       <div class="texto">
          <p><span class="bold">{{ text }}</span></p>
       </div>
  </div>

  <!-- Lado Direito (Formulário) -->
  <div class="login-card">
    <router-outlet></router-outlet>
  </div>

</div>