<div class="bodydiv">
  <span class="login-title">Recuperar Senha</span>
  <div class="custom-text-size14 span-link1" style="margin-bottom:4%; margin-top:4%">
    Lembrou a senha? 
    <span [routerLink]="['/']" class="span-link"><ins>Faça o login</ins></span>
  </div>

  <div class="form-container">
    <form class="login-form" [formGroup]="form" (keydown.enter)="enviarCodigo()">

      <!-- Etapa 1 - Email -->
      <div *ngIf="step === 1">
        <label> E-mail</label>
        <div [style.border]="setBorder('email')" class="input">
          <input class="email-input" formControlName="email" type="email" autofocus required>
        </div>

        <br><br>
        <button type="button" (click)="enviarCodigo()" class="custom-text-size14 login-submit">Próximo</button>
      </div>

      <!-- Etapa 2 - Código e Nova Senha -->
      <div *ngIf="step === 2">

        <label> Código de Recuperação</label>
        <div [style.border]="setBorder('codigo')" class="input">
          <input class="email-input" formControlName="codigo" type="text" required>
        </div>

        <label> Nova Senha</label>
        <div [style.border]="setBorder('novaSenha')" class="input">
          <input class="password-input" formControlName="novaSenha" [type]="passwordField" required>
          <button (click)="changeFieldType($event, 'password')" class="show-password">
            <img class="eye-icon" [src]="eyeSourcePassword" />
          </button>
        </div>

        <div *ngIf="form.get('novaSenha')?.hasError('passwordStrength') && form.get('novaSenha')?.touched">
          <small class="error">A senha deve ter pelo menos 8 caracteres, 1 letra maiúscula, 1 letra minúscula e 1 caractere especial.</small>
        </div>

        <br><br>
        <button type="button" (click)="redefinirSenha()" class="custom-text-size14 login-submit" [disabled]="form.invalid">Redefinir Senha</button>
      </div>

    </form>
  </div>

  <div class="aviso" *ngIf="errorMessage">
    <label>{{ errorMessage }}</label>
  </div>

  <div class="line"></div>
</div>
