<nav class="main-nav">
  <ul>
    <li class="logo-item">
        <img class="logo-img" src="./assets/images/logo-branco.png" alt="Logo" />
    </li>

    <li *ngIf="tipoUsuario === 'candidato'"><a routerLink="/dashboard">Dashboard</a></li>
    <li *ngIf="tipoUsuario === 'candidato'"><a routerLink="/vagas">Vagas</a></li>
    <li *ngIf="tipoUsuario === 'candidato'"><a routerLink="/inscricoes">Minhas Inscrições</a></li>

    <li *ngIf="tipoUsuario === 'funcionario'"><a routerLink="/gerenciar-vagas">Vagas</a></li>

    <li class="perfil-container">
      <a [routerLink]="getPerfilRoute()">
        <img src="./assets/images/icon-perfil.png" alt="Perfil" class="profile-img" />
      </a>
      <a [routerLink]="getLogout()" class="logout-link">
        <img src="./assets/images/box-arrow-right.svg" alt="Sair" class="logout-img" />
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
