<div class="form-container">
  <div class="form-header">
    <h2>Meus Dados</h2>
    <p>Gerencie suas informações pessoais</p>
  </div>

  <form [formGroup]="form">
    <div class="input-row">
      <div class="input-wrapper">
        <label>Nome Completo</label>
        <input type="text" formControlName="nome" />
      </div>
      <div class="input-wrapper">
        <label>Telefone</label>
        <input type="tel" formControlName="telefone" mask="(00) 00000-0000" prefix="+55 "/>
      </div>
    </div>

    <div class="input-row">
      <div class="input-wrapper">
        <label>E-mail</label>
        <input type="email" formControlName="email" />
      </div>
    </div>

    <div class="button-group">
      <button type="button" class="btn btn-primary" *ngIf="!editando" (click)="toggleEdicao()">
        Alterar dados
      </button>
      <button type="button" class="btn btn-success" *ngIf="editando" (click)="atualizarDados()">
        Salvar alterações
      </button>
    </div>
  </form>

   <div class="form-header" style="margin-top: 35px;">
  <h2>Alterar Senha</h2>
  <p>Atualize a senha da sua conta</p>
</div>


  <form [formGroup]="formSenha">

  <div class="input-row">

    <!-- SENHA ATUAL -->
    <div class="input-wrapper">
      <label>Senha atual</label>

      <div class="password-wrapper">
        <input
          [type]="senhaAtualField"
          formControlName="senhaAtual"
          (keydown)="checkCapsAtual($event)"
          (keyup)="checkCapsAtual($event)"
        />

        <button type="button" class="show-password" (click)="changeFieldType($event, 'senhaAtual')">
          <img class="eye-icon" [src]="eyeSenhaAtual" />
        </button>
      </div>

      <div *ngIf="capsAtual" class="capslock-warning">
        ⚠️ Caps Lock está ativado
      </div>
    </div>

    <!-- NOVA SENHA -->
    <div class="input-wrapper">
      <label>Nova senha</label>

      <div class="password-wrapper">
        <input
          [type]="novaSenhaField"
          formControlName="novaSenha"
          (keydown)="checkCapsNova($event)"
          (keyup)="checkCapsNova($event)"
        />

        <button type="button" class="show-password" (click)="changeFieldType($event, 'novaSenha')">
          <img class="eye-icon" [src]="eyeNovaSenha" />
        </button>
      </div>

      <div *ngIf="capsNova" class="capslock-warning">
        ⚠️ Caps Lock está ativado
      </div>

      <div *ngIf="formSenha.get('novaSenha')?.hasError('passwordStrength') && formSenha.get('novaSenha')?.touched">
        <small class="error">
          A senha deve ter pelo menos 8 caracteres, 1 letra maiúscula, 1 letra minúscula e 1 caractere especial.
        </small>
      </div>
    </div>
  </div>

  <div class="input-row">
    <!-- CONFIRMAR SENHA -->
    <div class="input-wrapper">
      <label>Confirmar nova senha</label>

      <div class="password-wrapper">
        <input
          [type]="confirmarSenhaField"
          formControlName="confirmarSenha"
          (keydown)="checkCapsConfirmar($event)"
          (keyup)="checkCapsConfirmar($event)"
        />

        <button type="button" class="show-password" (click)="changeFieldType($event, 'confirmarSenha')">
          <img class="eye-icon" [src]="eyeConfirmarSenha" />
        </button>
      </div>

      <div *ngIf="capsConfirmar" class="capslock-warning">
        ⚠️ Caps Lock está ativado
      </div>

      <div *ngIf="formSenha.hasError('passwordMismatch') && formSenha.get('confirmarSenha')?.touched">
        <small class="error">As senhas não coincidem.</small>
      </div>
    </div>
  </div>

  <div class="button-group">
    <button type="button" class="btn btn-success" (click)="alterarSenha()">
      Salvar nova senha
    </button>
  </div>

</form>
</div>
